* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0px;
}

main {
  flex: 1;
}


header {
  background-color: #185FA5;
  padding: 15px 0;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo span {
  color: #fff;
  font-size: 20px;
}

.logo strong {
  color: #FAC775;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #E6F1FB;
  font-size: 14px;
}

.menu a:hover {
  color: #fff;
}

.sobre {
  padding: 60px 5px;
}

.sobre h1 {
  font-size: 28px;
  color: #042C53;
  text-align: center;
  margin-bottom: 40px;
}

.sobre-conteudo {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

.sobre-texto p {
  font-size: 15px;
  color: #444;
  margin-bottom: 15px;
}

.sobre-imagem {
  flex-shrink: 0;
  width: 255px;
  height: 200px;
  background-color: #facc70;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.profissional {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-bottom: 50px;
}

.profissional-foto {
  flex-shrink: 0;
  width: 255px;               
  height: 320px;              
  background-color: #95d8ed;  
  border-radius: 12px;
  padding: 8px;
}

.profissional-foto img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;              
  object-position: center 10%;    
  border-radius: 4px;
}

.profissional-info h2 {
  font-size: 24px;
  color: #042C53;
  margin-bottom: 4px;
}

.valores {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 90px
}

.valor {
  background-color: #E6F1FB;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.valor .icone {
  font-size: 24px;
  margin-bottom: 8px;
}

.valor h3 {
  font-size: 15px;
  color: #042C53;
}

footer {
  background-color: #042C53;
  padding: 25px 0 15px 0;
}

.rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.menu-rodape {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.menu-rodape a {
  color: #B5D4F4;
  font-size: 13px;
}

.contato-rodape {
  color: #B5D4F4;
  font-size: 13px;
}

.copyright {
  text-align: center;
  color: #6f92b8;
}